name: Build Docker Image

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/my-strapi-app:${{ github.sha }} ./my-strapi-app


      - name: Push image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/my-strapi-app:${{ github.sha }}
